<div class="container">

  <div class="jumbotron">

    <h1>Order Your Burger!</h1>
    <p>During COVID-19, All Orders are Pickup Only...Sorry BITCHES</p>
    <br>
   <form class="create-form">
     <div class="form-group">
       <label for="newburger">Order Fresh Sandwich</label>
     </div>
   </form>

  </div>






</div>
